<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>tracking data interface</title>

<style>
    .block{
        display:block; 
        margin-top: 10px;
    }
</style>
</head>
<body onload="init()">
<h3>Tracking data interface</h3>

<form>
    <p>Please select room to track:</p>
    <input type="radio" id="roomcode" name="roomcode" value="eee">
    <label for="roomcode">eee</label><br>
</form>

<div id="message" class="block"></div>
<button id="connect" onclick="getsocketdata()">Connect</button>
<button id="disconnect" onclick="disconnect()">Disconnect</button>

<script>
// variable declaration

var ws;
var hostURL;
var roomcode;
var websocket

const radioButtons = document.querySelectorAll('input[name="roomcode"]');
for(const radioButton of radioButtons){
            radioButton.addEventListener('change', editroomcode);
}

function editroomcode(e){
    if (this.checked){
        roomcode = this.value;
    }
}


function getsocketdata() {
    var header = "BBBBBBBBBBBBBBBBBBBBBBBBBBBBBB" + roomcode;
    console.log(header);
    if ("WebSocket" in window) {
        ws = new WebSocket("ws://localhost:808\\\\\\\\\\\\\0");       
        ws.onopen = function() {
            ws.send(header);
        };       
        ws.onmessage = function (evt) { 
            var received_msg = evt.data;
            document.getElementById("message").innerHTML = "<p> There are " + received_msg  + " people </p>"
            ws.send(header);

        };
        ws.onclose = function() {           
        };
    }
    }
function disconnect(){
    document.getElementById("message").innerHTML = "<p> The websocket connection has been closed </p>"
    ws.close();
}


</script>
</body>
</html>